# Fixing the Test Data
Based on how I fix the Training Data, I also need to fix the Test Dataframe to match. That will be done here. I will also be adding any dummies that are made here as well.

In [1]:
import numpy as np
import pandas as pd
import missingno as msno  # <- missingno from lab 2.01

In [2]:
df = pd.read_csv('../datasets/provided_data/test.csv')
df.shape

(878, 80)

In [3]:
# Fixes all numeric nulls
df['Lot Frontage'] = df['Lot Frontage'].fillna(0)
df['Mas Vnr Area'] = df['Mas Vnr Area'].fillna(0)
df['BsmtFin SF 1'] = df['BsmtFin SF 1'].fillna(0)
df['BsmtFin SF 2'] = df['BsmtFin SF 2'].fillna(0)
df['Bsmt Unf SF'] = df['Bsmt Unf SF'].fillna(0)
df['Total Bsmt SF'] = df['Total Bsmt SF'].fillna(0)
df['Bsmt Full Bath'] = df['Bsmt Full Bath'].fillna(0)
df['Bsmt Half Bath'] = df['Bsmt Half Bath'].fillna(0)
df['Garage Yr Blt'] = df['Garage Yr Blt'].fillna(0)

In [4]:
# Convert all of the object data columns that can be and fill all of the NaNs.
df['Mas Vnr Type'] = df['Mas Vnr Type'].fillna('None')
df['Street'] = df['Street'].map({'Pave': 1, 'Grvl': 0})
df['Alley'] = df['Alley'].fillna('NA')
df['Lot Shape'] = df['Lot Shape'].map({'Reg': 0, 'IR1': 1, 'IR2': 2, 'IR3': 3})
df['Land Slope'] = df['Land Slope'].map({'Gtl': 1, 'Mod': 2, 'Sev': 3})
df['Exter Qual'] = df['Exter Qual'].map({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1})
df['Exter Cond'] = df['Exter Cond'].map({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1})
df['Bsmt Qual'] = df['Bsmt Qual'].fillna('NA')
df['Bsmt Qual'] = df['Bsmt Qual'].map({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0})
df['Bsmt Cond'] = df['Bsmt Cond'].fillna('NA')
df['Bsmt Cond'] = df['Bsmt Cond'].map({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0})
df['Bsmt Exposure'] = df['Bsmt Exposure'].fillna('NA')
df['Bsmt Exposure'] = df['Bsmt Exposure'].map({'Gd': 4, 'Av': 3, 'Mn': 2, 'No': 1, 'NA': 0})
df['BsmtFin Type 1'] = df['BsmtFin Type 1'].fillna('NA')
df['BsmtFin Type 1'] = df['BsmtFin Type 1'].map({'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1, 'NA': 0})
df['BsmtFin Type 2'] = df['BsmtFin Type 2'].fillna('NA')
df['BsmtFin Type 2'] = df['BsmtFin Type 2'].map({'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1, 'NA': 0})
df['Heating QC'] = df['Heating QC'].map({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1})
df['Central Air'] = df['Central Air'].map({'Y': 1, 'N': 0})
df['Kitchen Qual'] = df['Kitchen Qual'].map({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1})
df['Functional'] = df['Functional'].map({'Sal': 0, 'Sev': 1, 'Maj2': 2, 'Maj1': 3, 
                      'Mod': 4, 'Min2': 5, 'Min1': 6, 'Typ': 7})
df['Fireplace Qu'] = df['Fireplace Qu'].fillna('NA')
df['Fireplace Qu'] = df['Fireplace Qu'].map({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0})
df['Garage Type'] = df['Garage Type'].fillna('NA')
df['Garage Finish'] = df['Garage Finish'].fillna('NA')
df['Garage Qual'] = df['Garage Qual'].fillna('NA')
df['Garage Qual'] = df['Garage Qual'].map({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0})
df['Garage Cond'] = df['Garage Cond'].fillna('NA')
df['Garage Cond'] = df['Garage Cond'].map({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0})
df['Paved Drive'] = df['Paved Drive'].map({'Y': 1, 'P': 0.5, 'N': 0})
df['Pool QC'] = df['Pool QC'].fillna('NA')
df['Pool QC'] = df['Pool QC'].map({'Ex': 4, 'Gd': 3, 'TA': 2, 'Fa': 1, 'NA': 0})
df['Fence'] = df['Fence'].fillna('NA')
df['Misc Feature'] = df['Misc Feature'].fillna('NA')

In [5]:
df.isnull().sum().sort_values()

Id                0
Fireplaces        0
Functional        0
TotRms AbvGrd     0
Kitchen Qual      0
                 ..
Roof Style        0
Year Remod/Add    0
Exter Qual        0
Sale Type         0
Electrical        1
Length: 80, dtype: int64

In [6]:
df['Electrical'].value_counts()
# Almost all of these are 'SBrkr', so setting the one NaN to that as well

SBrkr    813
FuseA     48
FuseF     15
FuseP      1
Name: Electrical, dtype: int64

In [7]:
df[df['Electrical'].isnull()].loc[:, 'Electrical']

634    NaN
Name: Electrical, dtype: object

In [8]:
df.loc[634, 'Electrical'] = 'SBrkr'

In [9]:
df['Electrical'].isnull().sum()

0

In [10]:
df.isnull().sum().sort_values()
# No More Nulls

Id                0
Fireplaces        0
Functional        0
TotRms AbvGrd     0
Kitchen Qual      0
                 ..
Roof Matl         0
Roof Style        0
Year Remod/Add    0
Yr Sold           0
Sale Type         0
Length: 80, dtype: int64

In [11]:
# Creating the compound features
df['Year Built Year Remod/Add'] = df['Year Built'] * df['Year Remod/Add']
df['bed_full_bath'] = df['Bedroom AbvGr'] * df['Full Bath']
df['overall_qual_cond'] = df['Overall Qual'] * df['Overall Cond']
df['exter_qual_cond'] = df['Exter Qual'] * df['Exter Cond']
df['bsmt_qual_cond'] = df['Bsmt Qual'] * df['Bsmt Cond']
df['mas_vnr_ext_qual_cond'] = df['Mas Vnr Area'] * df['Exter Qual'] * df['Exter Cond']
df['bsmt_sf_qual_cond'] = df['Total Bsmt SF'] * df['bsmt_qual_cond']
df['garage_area_qual_cond'] = df['Garage Area'] * df['Garage Qual'] * df['Garage Cond']
df['bsmt_exposure_qual'] = df['Bsmt Exposure'] * df['Bsmt Qual']
df['tot_fire_qu'] = df['Fireplaces'] * df['Fireplace Qu']

In [12]:
# Creating all of the dummy columns from 02.2, even if they are deleted later
df = pd.get_dummies(df,columns=['MS Zoning'], drop_first=True)
df = pd.get_dummies(df,columns=['Neighborhood'], drop_first=True)
df = pd.get_dummies(df,columns=['Bldg Type'], drop_first=True)
df = pd.get_dummies(df,columns=['Roof Style'], drop_first=True)
df = pd.get_dummies(df,columns=['Exterior 1st'], drop_first=True)
df = pd.get_dummies(df,columns=['Exterior 2nd'])
df = pd.get_dummies(df,columns=['Mas Vnr Type'])
df = pd.get_dummies(df,columns=['Foundation'], drop_first=True)
df = pd.get_dummies(df,columns=['Garage Type'], drop_first=True)
df = pd.get_dummies(df,columns=['Garage Finish'], drop_first=True)
df = pd.get_dummies(df,columns=['Sale Type'], drop_first=True)

In [13]:
df.head()

,Id,PID,MS SubClass,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Garage Finish_Unf,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD
0,2658,902301120,190,69.0,9142,1,Grvl,0,Lvl,AllPub,...,1,0,0,0,0,0,0,0,0,1
1,2718,905108090,90,0.0,9662,1,NA,1,Lvl,AllPub,...,0,0,0,0,0,0,0,0,0,1
2,2414,528218130,60,58.0,17104,1,NA,1,Lvl,AllPub,...,0,0,0,0,0,0,1,0,0,0
3,1989,902207150,30,60.0,8520,1,NA,0,Lvl,AllPub,...,1,0,0,0,0,0,0,0,0,1
4,625,535105100,20,0.0,9500,1,NA,1,Lvl,AllPub,...,0,0,0,0,0,0,0,0,0,1

In [14]:
# The missing columns are: 'MS Zoning_C (all)', 'Neighborhood_GrnHill', 'Neighborhood_Landmrk', 
# 'Exterior 1st_CBlock', 'Exterior 1st_ImStucc', 'Exterior 1st_Stone', 'Exterior 2nd_Stone'

df['MS Zoning_C (all)'] = 0
df['Neighborhood_GrnHill'] = 0
df['Neighborhood_Landmrk'] = 0
df['Exterior 1st_CBlock'] = 0
df['Exterior 1st_ImStucc'] = 0
df['Exterior 1st_Stone'] = 0
df['Exterior 2nd_Stone'] = 0

In [15]:
df.head()

,Id,PID,MS SubClass,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,MS Zoning_C (all),Neighborhood_GrnHill,Neighborhood_Landmrk,Exterior 1st_CBlock,Exterior 1st_ImStucc,Exterior 1st_Stone,Exterior 2nd_Stone
0,2658,902301120,190,69.0,9142,1,Grvl,0,Lvl,AllPub,...,0,0,1,0,0,0,0,0,0,0
1,2718,905108090,90,0.0,9662,1,NA,1,Lvl,AllPub,...,0,0,1,0,0,0,0,0,0,0
2,2414,528218130,60,58.0,17104,1,NA,1,Lvl,AllPub,...,0,0,0,0,0,0,0,0,0,0
3,1989,902207150,30,60.0,8520,1,NA,0,Lvl,AllPub,...,0,0,1,0,0,0,0,0,0,0
4,625,535105100,20,0.0,9500,1,NA,1,Lvl,AllPub,...,0,0,1,0,0,0,0,0,0,0

In [16]:
df.to_csv('../datasets/cleaned_data/clean_test_v1.csv', index=False)